<html>
<head>

    <script>
        var debug = true;

        var viewport_x = window.innerWidth; 
        var viewport_y = window.innerHeight; 
        
        var lanewidth = 600;

        addEventListener("resize", (event) => { 
            viewport_x = window.innerWidth; 
            viewport_y = window.innerHeight; 
            if (debug) console.log("viewport is " + viewport_x + " " + viewport_y)
        });

        function drawLane(elementId){
            let canvas = document.getElementById(elementId);
            var context = canvas.getContext("2d");
            //finish this!
        }

        function step(dt){
            
            requestAnimationFrame(step);
        }
    </script>
</head>
<body>
    <form id="upload">
        <input type="file" value="Select Audio" id="audio_upload" />
    </form>
    <canvas id="lane" width="640" height = "480"></canvas>
    
    <script src="{{ url_for('static', filename = 'script.js') }}"></script>
    <script>
        let canvas = document.getElementById("viewport");
        let context = canvas.getContext("2d");
    </script> 
</body>
</html>
